@using Webtina.UI.Models.ViewModels;

@using Webtina.UI.Web.Controllers.Components;
@{
    ViewData["Title"] = "صفحه نخست";
}
<title>صفحه نخست</title>
<meta name="description" content="<%= seodesc%>" />
  
<meta property='og:title' content='<%= title%>' />
<meta property='og:url' content='http://karokia.ir/' />
<meta property='og:image' content='http://karokia.ir/images/logo.png' />
<meta property='og:description' content='<%= seodesc%>' />
<meta property='og:article:tag' content='<%= title%>' />
<meta property='og:locale' content='ir_FA' />
<meta property='og:site_name' content='کاروکیا' />
<meta name='twitter:title' content='<%= title%>'>
<meta name='twitter:description' content='<%= seodesc%>'>
<meta name='twitter:image:src' content='http://karokia.ir/images/logo.png'>
<meta itemprop='name' content='<%= title%>'>
<meta itemprop='description' content='<%= seodesc%>'>
<meta itemprop='image' content='http://karokia.ir/images/logo.png'>
<link href="~/themes/miver/css/owl.carousel.css" rel="stylesheet" />


<!-- Begin Page Content -->
<section class="py-5 homepage-search-block position-relative">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-5">
                <img class="img-fluid" src="~/themes/miver/images/File-searching.svg" alt="" />
            </div>
            <div class="col-lg-7">
                <div class="homepage-search-title">
                    <h1 class="mb-3 text-shadow text-gray-900 font-weight-bold">
                        آموزش مورد نظر خودتون رو پیدا کنید
                    </h1>
                    <h5 class="mb-5 text-shadow text-gray-800 font-weight-normal">
                        از بین هزاران آموزش انتخاب کنید.
                    </h5>
                </div>
                <div class="homepage-search-form">
                    <form class="form-noborder">
                        <div class="form-row">
                            <div class="col-lg-10 col-md-10 col-sm-12 form-group">
                                <input type="text"
                                       placeholder="جستجو کنید..."
                                       class="form-control border-0 form-control-lg shadow-sm" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg btn-gradient shadow-sm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popular">
                    <span class="text-body-2">پرجستجوترین</span>
                    <ul>
                        <li><a href="#" class="text-body-2">یوتوب</a></li>
                        <li>
                            <a href="#" class="text-body-2">کسب درآمد از اینستاگرام</a>
                        </li>
                        <li><a href="#" class="text-body-2">تولیدی</a></li>
                        <li>
                            <a href="#" class="text-body-2">بورس</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-dark">
    <div class="view_slider recommended">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-white title">محبوب ترین‌ها</h3>
                    <div class="view recent-slider recommended-slider">
                        <cache expires-after="@TimeSpan.FromHours(2)">
                            @await Component.InvokeAsync("Products", new ProductsComponentQuery { Count = 20 })
                        </cache>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--       recent -->
<!--    about section -->
  <div class="market-wrapper py-5 bg-white">
    <div class="container">
        <h2 class="text-center">در همه دسته بندی ها آموزش داریم</h2>
        <ul class="categories-list mb-0">
            <li>
                <a href="#">
                    <img src="images/graphics.svg" alt="" loading="lazy" />گرافیک و
                    دیزاین
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/online-marketing.svg"
                         alt="Digital Marketing"
                         loading="lazy" />بازاریابی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/writing-translation.svg"
                         alt="Writing &amp; Translation"
                         loading="lazy" />محتوا نویسی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/video-animation.svg"
                         alt="Video &amp; Animation"
                         loading="lazy" />ویدئو
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/music-audio.svg"
                         alt="Music &amp; Audio"
                         loading="lazy" />موسیقی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/programming.svg"
                         alt="Programming &amp; Tech"
                         loading="lazy" />برنامه نویسی
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/business.svg" alt="Business" loading="lazy" />کسب
                    و کار
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/lifestyle.svg"
                         alt="Lifestyle"
                         loading="lazy" />زندگی
                </a>
            </li>
        </ul>
    </div>
</div> 
<!--     market   -->




<section class="py-5 bg-striped">
    <div class="view_slider recommended">
        <div class="container">

            <div class="">

                <h3>
                    <a href="#">
                        title
                        <small class="float-left">مشاهده همه&nbsp;<i class="fa fa-angle-left align-middle mr-1"></i></small>
                    </a>
                </h3>
                <div class="view row">
                    
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="product-item mb-3">
                            <a href="#" title="<%=pr.Title %>">
                                <img class="img-fluid"
                                     src="/content/productpic/<%=pr.Pic%>" />
                            </a>
                            <div class="inner-slider">
                                <div class="inner-wrapper">
                                    <div class="d-flex align-items-center">
                                        <span class="seller-image">
                                            <span class="seller">
                                                <%=pr.FullName %>
                                            </span>
                                            <img class="img-fluid"
                                                 src="/content/userpic/<%= pr.UserPic %>"
                                                 alt="" />
                                        </span>
                                        <span class="seller-name">
                                            <a href="#" title="<%=pr.Title %>">
                                                <%=pr.Title %>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="content-info">
                                        <div class="price">
                                            <del>30,000</del>
                                            <span class='free'>رایگان</span>
                                            2,000 <small>تومان</small>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <i class="fa fa-heart" aria-hidden="true"></i>

                                        <div class="rating-wrapper" data-toggle="tooltip" title="بدون امتیاز">
                                            <i class="fa fa-star"></i>
                                            <span>3</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


  <div class="guide-wrapper bg-white py-5">
    <div class="container">
        <h2>
            آخرین مقالات
            <a href="#" class="float-left">مشاهده مجله</a>
        </h2>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-01.jpg" />
                    <div class="content">
                        <h6>چطوری زمان بندی کنیم؟</h6>
                        <p>خودراستی</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-02.jpg" />
                    <div class="content">
                        <h6>بهترین منابع برای یادگیری آیلتس</h6>
                        <p>زبان آموزی</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="guide">
                    <img src="images/guide-03.jpg" />
                    <div class="content">
                        <h6>بهترین فروشگاه سازها</h6>
                        <p>کسب‌و‌کار</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> 
<!-- get started -->
<div>
    <div class="get-started">
        <div class="content">
            <h2>شما هم میتوانید کسب درآمد کنید.</h2>
            <p>کسب درآمد از کاروکیا به سادگی آب خوردنه.</p>
            <a href="#" class="c-btn c-fill-color-btn">چطوری؟</a>
        </div>
    </div>
</div>











